<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank Branches</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<center>
	<h2><p th:text="${name}+' Bank'" /></h2>
	
	<br>
	<h3>
		<p th:text="'Branches of '+ ${name}+' Bank'"/>
	</h3>

	<table class="data" border="1">
		<tr>
			<th>Street/Sector</th><th>Locality</th><th>City</th>
		</tr>
		<tr>
			<td>Sector 1</td><td>Rajnagar</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 2</td><td>hiroshima</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 3</td><td>nagasaki</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 4</td><td>new orleans</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 5</td><td>nalabar</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 6</td><td>kalibagh</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 7</td><td>lolchowk</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 8</td><td>manasanaer</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 9</td><td>heloaaa</td><td>Banglore</td>
		</tr>
		<tr>
			<td>Sector 10</td><td>Ramnagar</td><td>Banglore</td>
		</tr>
	</table>
	</center>
</body>
</html>
